<div style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
<!--  <app-chart [id]="'chart6'" [chartConfig2]="chartConstant.chartObject6" [chartData2]="seriesData2"></app-chart>-->
<!--  <app-chart [id]="'chart7'" [chartConfig2]="chartConstant.chartObject7" [chartData2]="seriesData3"></app-chart>-->
<!--  <app-chart [id]="'chart8'" [chartConfig2]="chartConstant.chartObject7" [chartData2]="seriesData4"></app-chart>-->
<!--  <app-chart [id]="'chart9'" [chartConfig2]="chartConstant.chartObject9" [chartData2]="seriesData5"></app-chart>-->
<!--  <app-chart [id]="'chart10'" [chartConfig2]="chartConstant.chartObject10" [chartData2]="seriesData6"></app-chart>-->
<!--  <app-chart [id]="'chart11'" [chartConfig2]="chartConstant.chartObject11" [chartData2]="seriesData7"></app-chart>-->
  <app-chart [id]="'chart11'" [chartConfig2]="chartConstant.chartObject10" [chartData2]="seriesData3"></app-chart>
</div>
